<div class="top-wrap">
    <img src="img/dna.png" class="dna-img-2 top-right-img animated jello infinite" />
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a ui-sref="father" class="ripple arrow-wrap"><i class="material-icons">&#xE5C4;</i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2><small>Step</small> 3/<small>4</small></h2>
                <h2 load-allele-test>Child's DNA Pairs</h2>
            </div>
        </div>
    </div>
</div>

<div class="wrap pat-form animated slideInUp" ng-info="child" ng-init="alleleInfo = AlleleInfo.create('child').generateChildAllelePairs()">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div ng-repeat="allelePair in alleleInfo.alleles" allele-pair="allelePair" allele-names="alleleNames" index="{{$index}}" remove-allele-pair="alleleInfo.removeAllelePair(index)" selected-allele-names="selectedAlleleNames" change-allele-name="false"></div>

                <a ng-click="proceedToResult()" class="btn btn-primary btn-block blue-btn">Proceed <i class="material-icons">&#xE5C8;</i></a>

            </div>
        </div>
    </div>
</div>