<div class="wrap splash-wrap">
    <div class="circle-mark animated zoomInLeft"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="splash-content text-center">
                    <img src="img/dna.png" class="animated bounceInDown" />
                    <h1 class="appname animated bounceInDown">Baba Omo</h1>
                    <a ui-sref="info" class="btn btn-primary btn-block splash-btn ripple animated bounceInUp" type="button">Begin Test</a>
                </div>
            </div>
        </div>
    </div>
</div>