@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto');

body {
    font-family: Roboto, sans-serif;
}

.appname {
    font-family: 'Indie Flower', cursive;
}

a {
    color: inherit;
}

h2 small {
    color: inherit;
}

.material-icons {
    vertical-align: middle;
}

.gender-group {
    margin-bottom: 10px;
}

.splash-wrap {
    color: #FFF;
    height: 100vh;
    width: 100%;
    background: #3181db;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash-btn {
    background-color: #1c5ca3;
    border-color: #1c5ca3;
    padding: 10px 30px;
    text-transform: uppercase;
}

.blue-btn {
    background-color: #1c5ca3;
    border-color: #1c5ca3;
    margin-top: 30px;
    padding: 10px;
    text-transform: uppercase;
}

.form-control:focus{
    box-shadow: none;
}

.top-wrap {
    background: #3181db;
    color: #FFF;
    position: relative;
    padding-top: 10px;
    min-height: 180px;
    box-shadow: 0px 0px 3px #000;
}

.pat-form {
    margin-top: 20px;
}

.wrap {
    padding-bottom: 50px;
}

.play-again {
    color: #1c5ca3;
    margin-top: 20px;
}

.score {
    font-size: 400%;
}

input, textarea, select {
   -webkit-appearance: none;
 }

.remove-allel {
    line-height: 55px;
    font-size: 180%;
    color: red;
}

.circle-mark{
    position: fixed;
    width:200px;
    border-radius:100%;
    height: 200px;
    background-color: #1c5ca3;
    top:-10%;
    left:-10%;
}

.dna-img{
    position: fixed;
}

.dna-img-2{
    position: absolute;
}

.top-left-img{
    top:5%;
    left: 5%;
}

.bottom-left-img{
    bottom:5%;
    left: 5%;
}


.top-right-img{
    top:5%;
    right: 5%;
}

.bottom-right-img{
    bottom:5%;
    right: 5%;
}

.add-dna{
    border-color: #3181db;
    color:#1c5ca3;
    margin-top: 30px;
}

/* --- material floating label --- */

.form-group {
    display: flex;
    height: 55px;
}

.control-label {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 28px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}

.form-group.focused .control-label {
    opacity: 0.5;
    transform: scale(0.75);
}

.form-control {
    align-self: flex-end;
    border: none;
    border-radius: 0px;
    padding: 0px;
    box-shadow: none;
    border-bottom: #CCC thin solid;
}

    .form-control::-webkit-input-placeholder {
        color: transparent;
        transition: 240ms;
    }

    .form-control:focus::-webkit-input-placeholder {
        transition: none;
    }

.form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}